{
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "objectWrap": "preserve",
    "bracketSpacing": false,
    "semi": false,
    "experimentalOperatorPosition": "end",
    "experimentalTernaries": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "quoteProps": "consistent",
    "trailingComma": "all",
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "proseWrap": "always",
    "endOfLine": "lf",
    "insertPragma": false,
    "printWidth": 120,
    "requirePragma": false,
    "tabWidth": 4,
    "useTabs": false,
    "embeddedLanguageFormatting": "auto"
}
