@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@theme {
    --font-sans: 'SF Pro Text', 'SF Pro Icons', 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    --color-default: rgb(32, 32, 32);
    --color-accent: #f64632;
    --color-accent2: #1f71e3;
    --color-code-line-highlight: #ffc00091;
    --breakpoint-xs: 30rem;
    --breakpoint-3xl: 112rem;
}

:root {
    --l: 0.8;
    --c: 0.2;
    --global-min-width: 320px;
    --content-width: calc(max(100vw, var(--global-min-width)));
    --content-size-spread: calc(var(--breakpoint-3xl) - var(--global-min-width));
    --content-size-norm: calc((var(--content-width) - var(--global-min-width)) / var(--content-size-spread));
}

.carousel {
    animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@layer base {
    body {
        @apply text-black/75 text-sm/6;
    }

    body .dark-theme {
        @apply text-white/70;
    }

    h1 {
        @apply text-nowrap text-zinc-800 font-semibold tracking-tight
            text-[32px] md:text-[40px] lg:text-5xl
            leading-[1.2em];
    }

    h2 {
        @apply text-zinc-800 font-semibold tracking-tight mt-24 mb-4
            text-[32px] md:text-[40px] lg:text-3xl
            leading-[1.2em];
    }

    .dark-theme h2 {
        @apply text-white/100;
    }

    .dark-theme h1 {
        @apply text-white/100;
    }

    h3 {
        @apply text-zinc-500 mt-2 text-lg/8;
    }

    .dark-theme h3 {
        @apply text-white/100;
    }

    h4 {
        @apply text-zinc-800 text-[20px]/7 font-semibold tracking-tight mb-4;
    }

    .dark-theme h4 {
        @apply text-white/100;
    }

    code {
        @apply font-sans;
        background-color: rgba(0, 0, 0, 0.07);
        padding: 2px 6px;
        border-radius: 6px;
    }
}

@keyframes sss {
    to {
        transform: rotate(360deg);
    }
}

table th,
table td {
    border-right: 3px solid white;
}

.benchmark-table th:nth-child(2),
.benchmark-table td:nth-child(2) {
    border-right: 8px solid white;
}

table th,
table td {
    padding: 6px 12px;
}

.bench-th-vertical {
    position: relative;
    height: 140px; /* controls header row height */
    vertical-align: bottom; /* align to bottom */
    padding: 0.25rem 0;
    white-space: nowrap;
}

.bench-th-vertical > span {
    position: absolute;
    left: 38px;
    bottom: 8px;
    display: inline-block;
    text-align: left;
    transform: rotate(-90deg);
    transform-origin: left bottom;
}

path {
    shape-rendering: geometricPrecision;
}
